@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400&family=Roboto+Condensed&display=swap');

body
{
    font-family: 'Noto Sans';
  
    padding-left: 42px;
    padding-right: 42px;
}